.ShotLog{
    padding-left: 15px;

    &-field{
        display: flex;
        flex-flow: column wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        min-width: 190px;
        max-height: 470px;
        font-size: 12px;
    }
    &--italic{
        font-style: italic;
    }
}
    