<div class="app-game">
  <div class="app-game__wrapper">
    <div class="app-game__title-block">
        <h2 class="app-game__title">Добро пожаловать в Морской Бой!</h2>
    </div>
    <div class="app-game__main">
      <app-player [playerName]="playerName1" [fieldSize]="fieldSize" [panelPos]="leftSide"></app-player>
      <app-player [playerName]="playerName2" [fieldSize]="fieldSize" [panelPos]="rightSide"></app-player>
    </div>
    <div class="app-game__button-block">
        <button class="btn">Разместить корабли</button>
        <button class="btn">Начать игру</button>
    </div>
    <div class="app-game__game-chat">

    </div>

  </div>
</div>
