<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Добро пожаловать в  {{ title }}!
  </h1>
  <div class="fields__block">
    <div class="field__image">
        <img width="200" alt="small field" src="../assets/img/small_field.png">
    </div>
    <div class="field__image">
        <img width="300" alt="small field" src="../assets/img/medium_field.png">
    </div>
    <div class="field__image">
        <img width="400" alt="small field" src="../assets/img/big_field.png">
    </div>

  </div>
  
</div>
<div class="sizes__block">
<h2>Размер поля: </h2>
<form name="form" action="">
  <label for="board_size--small"><input id="board_size--small" type="radio" [value]="small" name="fieldSise" [(ngModel)]="size.fieldSise" [checked]="size.fieldSise==small"/><span>Маленькое</span></label>
  <label for="board_size--medium"><input id="board_size--medium" type="radio" value="medium" name="fieldSise" [(ngModel)]="size.fieldSise"  checked/><span>Среднее</span></label>
  <label for="board_size--big"><input id="board_size--big" type="radio" value="big" name="fieldSise" [(ngModel)]="size.fieldSise" /><span>Большое</span></label>
</form>
</div>
<div class="sizes__block">
    <h2>Расположение кораблей: </h2>
    <form >
      <label for="ship_pos-auto"><input id="ship_pos-auto" type="radio" name="shipPosition"  checked/><span>Случайно</span></label>
      <label for="ship_pos-man"><input id="ship_pos-man" type="radio" name="shipPosition" /><span>Вручную</span></label>
    </form>
    </div>
    <div class="sizes__block">
        <button class="btn btn-default" (click)="startGame(fieldSise, shipPosition)">Старт!</button>
    </div>


