.Cell{
    width: 30px;
    height: 30px;
    border: none;
    border-right: 1px solid rgba(0,0,255,.3);
    border-bottom: 1px solid rgba(0,0,255,.3);
    background: none;
    display: block;

    &--playerShip,
    &--AIShip{
        background: rgba(0,0,255,.3);
    }
    &--missed{
        position: relative;

        &:before{
            position: absolute;
            top: -2px;
            left: -2px;
            content: '';
            width: 5px;
            height: 5px;
            background: rgba(0,0,0,1);    
            border-radius: 50%; 
        }
    }
} 

    
