<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Добро пожаловать в  {{ title }}!
  </h1>
  <div class="fields__block">

    <div class="field__image">
        <img width="200" alt="small field" src="../assets/img/medium_field.png">
    </div>
    <div class="field__image">
        <img width="200" alt="small field" src="../assets/img/medium_field.png">
    </div>

  </div>
  
</div>

<div class="game_config__block">

    <div class="game_config__inner_block">

        <div class="game_config__input_block">
            <h2>Введите имя игрока: </h2>
            <input class="game_config__input" type="text" name="user_name"  [(ngModel)]="UserName" #user_name="ngModel"
            required pattern="^[a-zA-Zа-яА-я0-9 _-]{3,15}$"  /> <br />
            <div [hidden]="user_name.valid" class="game_config--alert">Некорректное имя</div>

        </div>
        <div class="game_config__button_block">
            <a class="btn btn-default" routerLink="/game">Играть!</a>
        </div>


    </div>





</div>














  
   
