$game_color_blue: #4d59a1;
.fields__block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.game_config{
    &__block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__button_block{
        flex-basis: 50%;
        flex-grow: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__inner_block{
        flex-basis: 37%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    &__input{
        border: 2px solid $game_color_blue;
        color: #000;
        height: 25px;
        width: 200px;
        text-align: center;
        font-size: 18px;
    }
    &__input_block{
        height: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &--alert{
        color: #ff0000;
    }

}
.sizes__block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.sizes__block input{
    display: none;
}
.sizes__block input + span{
    display: inline-block;
    position: relative;
    white-space: nowrap;
    transition: color 300ms ease-in;
    cursor: pointer;
    font-size: 20px;

}
.sizes__block input[type=radio] + span::after {
    position: absolute;
    display: block;
    content: '';
    top: 65%;
    left: -5%;
    width: 110%;
    height: .1em;
    border-radius: .05em;
    background-color: rgba(150,0,0,.8);
    transform-origin: 0% 0%;
    transform: rotateZ(-6deg);
    opacity: 1;
    transition: width 300ms ease-in;
}
.sizes__block input[type=radio]:checked + span{
    cursor: default;
}
.sizes__block input[type=radio]:checked + span::after{
    width: 0%;
    opacity: 0;
    transition:
      opacity 150ms ease-out,
      width 0ms linear 200ms;
}



.sizes__block label{
    cursor: pointer;
    padding: 5px 20px;
}
.btn{
    font-family: inherit;
    border: 2px solid #4d59a1;
    color: #4d59a1;
    border-radius: 5px;
    background-color: transparent;
    font-size: 25px;
    padding: 0 15px;
    cursor: pointer;
}