/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(assets/grid.png);
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    color: #4d59a1;
    background-size: 40px 40px;
}